*.1bpp
*.4bpp
*.8bpp
*.DS_Store
*.bak
*.bat
*.diff
*.dump
*.elf
*.exe
*.fwjpnfont
*.gba
!data/*.gba
*.sgm
*.sa1
*.sg1
*.gbapal
*.hwjpnfont
*.i
*.idb
*.id0
*.id1
*.id2
*.hwlatfont
*.fwlatfont
*.lz
*.map
*.nam
*.o
*.pcm
*.pl
*.rl
*.s.old
*.s.old2
*.sa*
*.swo
*.swp
*.til
.fuse*
.idea/
Thumbs.db
build/
cmake-build-*
ld_script_ruby.txt
ld_script_sapphire.txt
sound/**/*.bin
sound/songs/midi/*.s
src/data/heal_locations.h
src/data/items.h
src/data/wild_encounters.h
src/data/region_map/region_map_entries.h
src/data/region_map/region_map_entry_strings.h
src/data/region_map/porymap_config.json
tags
tools/agbcc
tools/binutils
types_*.taghl
!.github/calcrom/calcrom.pl
!sound/programmable_wave_samples/*.pcm
_Deparsed_XSubs.pm
porymap.*.cfg
prefabs.json
.vscode/*.*
*.js
*.sym
build-cmake-*/
.cache/
CMakeLists.txt
compile_commands.json
build_host/
tools/bin2c/bin2c
tools/gbafix/gbafix
tools/gbagfx/gbagfx
tools/jsonproc/jsonproc
tools/mapjson/mapjson
tools/mid2agb/mid2agb
tools/preproc/preproc
tools/ramscrgen/ramscrgen
tools/rsfont/rsfont
tools/scaninc/scaninc
tools/wav2agb/wav2agb
data/maps/*/connections.inc
data/maps/*/events.inc
data/maps/*/header.inc
data/maps/connections.inc
data/maps/events.inc
data/maps/groups.inc
data/maps/headers.inc
data/layouts/layouts.inc
data/layouts/layouts_table.inc
include/constants/heal_locations.h
include/constants/layouts.h
include/constants/map_event_ids.h
include/constants/map_groups.h
include/constants/region_map_sections.h
